RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^kategoriler-([0-9a-zA-Z-_]+)-([0-9]+)$  kategoriler.php?sef=$1&kategori_id=$2 [L,QSA]
RewriteRule ^urun-([0-9a-zA-Z-_]+)-([0-9]+)$  urun-detay.php?sef=$1&urun_id=$2 [L,QSA]
RewriteRule ^acikartirma-([0-9a-zA-Z-_]+)-([0-9]+)$  acikartirma-detay.php?sef=$1&acikartirma_id=$2 [L,QSA]

#RewriteRule ^urun-([0-9a-zA-Z-_]+)  urun-detay.php?sef=$1 [L,QSA]
#RewriteRule ^acikartirma-([0-9a-zA-Z-_]+)  acikartirma-detay.php?sef=$1 [L,QSA]